@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>更新日志</title>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <style type="text/css">
            .cssLogList{
                margin:0px;
                padding:0px;
            }

            .cssLogList li{
                margin-bottom:10px;
            } 

            .title {
                border: 1px solid #F9DD4C;
                background-color: #FEEC98;
                color: #2D2D30;
                height: 20px;
                font-weight: bold;
                font-size: 15px;
                font-family: 'Microsoft YaHei';
                padding: 5px;
            }
            .content{
                padding:5px;
                font-size:12px;
            }
            .content ol{
                margin:0px;
            }
            .content ol li{
                margin:0px;
                padding:2px;
            }
    </style>
</head>
<body style="background-color: #F0F0F0">
    <ul class="cssLogList">
        <li>
            <div class="title">
                2016-04-26 (New)
            </div>
            <div class="content">
                <ol>
                    <li>添加新版本检查功能</li>
                </ol>
            </div>
        </li>

        <li>
            <div class="title">
                2016-04-05
            </div>
            <div class="content">
                <ol>
                    <li>当使用Alt+Enter打开文件或目录时自动选中</li>
                </ol>
            </div>
        </li>

        <li>
            <div class="title">
                2015-10-28
            </div>
            <div class="content">
                <ol>
                    <li>解決程序開啟時窗口顯示一次再隱藏的問題</li>
                    <li>添加更新日志</li>
                </ol>
            </div>
        </li>

        <li>
            <div class="title">
                2015-08-25
            </div>
            <div class="content">
                <ol>
                    <li>应用路径添加可以识别带系统变量的路径的功能</li>
                </ol>
            </div>
        </li>

        <li>
            <div class="title">
                2014-11-02
            </div>
            <div class="content">
                <ol>
                    <li>运行程度时可以使用 Alt+Enter 来快速打开程序目录</li>
                    <li>以3.5为运行框架</li>
                </ol>
            </div>
        </li>

        <li>
            <div class="title">
                2014-04-30
            </div>
            <div class="content">
                <ol>
                    <li>WIN7以上系统禁用开机启动机能防止开机UAC弹出</li>
                    <li>程序点击后直接运行，不再弹出设置界面，设置改到托盘图标右键菜单中</li>
                    <li>程序可以修改名称，修改名称后“运行”中启动程序将使用新名称作前缀如 旧“ce excel” 新 "ce1 excel"</li>
                </ol>
            </div>
        </li>

        <li>
            <div class="title">
                2014-04-29
            </div>
            <div class="content">
                <ol>
                    <li>运行程序路径不存在 提示 修改 或 删除</li>
                    <li>设置界面可打开提示程序</li>
                    <li>设置界面中可设置是否开机启动</li>
                </ol>
            </div>
        </li>

        <li>
            <div class="title">
                2014-01-13
            </div>
            <div class="content">
                <ol>
                    <li>修正缓存问题</li>
                </ol>
            </div>
        </li>

        <li>
            <div class="title">
                2013-12-24
            </div>
            <div class="content">
                <ol>
                    <li>添加自动提示框(ce h 唤出提示界面)</li>
                </ol>
            </div>
        </li>

    </ul>
</body>
</html>
